<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="<%= content_for :description %>">
    <title><%= content_for :title %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600|Oswald:300' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="header-vessel">
      <div class="container clearfix" id="header">
        <h1><a id="title-link" href="/">Subjunct</a></h1>
        <a class="nav-link" href="/about">How it Works</a>
        <a class="nav-link" href="mailto:contact@subjunct.com">Contact</a>
      </div>
    </div>
    <div id="content-vessel">
      <%= yield %>
    </div>
    <div id="footer-vessel">
      <div class="container" id="footer">
        <p>&copy; <%= Time.new.year %> <a href="/">Subjunct</a>.  All rights reserved.</p>
      </div>
    </div>
  </body>
</html>
